body {
	margin: 0;
	background-color: #fff;
	color: #000;
}

body > #root {
	height: 100vh;
}

/* width */
::-webkit-scrollbar {
	width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(165, 165, 165);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #445566;
}
